@use "@/shared/styles/_breakpoints.scss" as *;

.textarea {
  resize: none;
  border: none;
  outline: none;

  width: 100%;
  min-height: 4rem;

  font-size: var(--font-size-md);
  font-family: var(--font-primary);

  &::placeholder {
    color: var(--text-neutral);
  }

  @media only screen and (max-width: $breakpoint-md) {
    font-size: var(--font-size-base);
  }
}

.imageContainer {
  width: 90%;

  max-width: 700px;
  height: auto;

  margin: var(--margin-sm) 0;

  position: relative;

  img {
    border-radius: var(--padding-xs);
  }
}

.close {
  position: absolute;
  top: 0rem;
  right: 0rem;
  transform: translateX(50%) translateY(-50%);

  display: grid;
  place-items: center;

  padding: var(--padding-xs);

  background-color: var(--border-color);
  border-radius: 50%;
}

.closeIcon {
  width: var(--width-icon-sm);
  height: var(--width-icon-sm);

  cursor: pointer;
}

.imgIcon {
  margin-top: var(--margin-base);
  width: var(--width-icon-sm);
  height: var(--width-icon-sm);
  cursor: pointer;
}

.fileInput {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--margin-base);
}
