.sidebarItem {
  display: flex;
  align-items: center;

  padding: var(--padding-m);
  border-radius: var(--padding-xl);

  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--input-color);
  }
}

.iconContainer {
  width: var(--width-icon-sm);
  height: var(--width-icon-sm);
  margin-right: calc(var(--margin-sm) + var(--margin-xs));

  position: relative;
  top: -2px;
}

.icon {
  color: var(--text-default);
}
