.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  min-width: 300px;
  width: 50%;
  max-width: 90%;
  max-height: 90vh;

  position: relative;
  display: flex;
  flex-direction: column;

  background: white;
  padding: var(--padding-base) var(--padding-md);
  border-radius: var(--padding-m);
}

.modalContent {
  margin: var(--padding-base);
  margin-left: 0;

  overflow-y: auto;
  max-height: calc(90vh - 40px);
}

.closeButton {
  position: absolute;
  top: var(--margin-base);
  right: var(--margin-base);

  font-size: 24px;
  transform: scale(1.3);

  background: transparent;
  border: none;

  cursor: pointer;
}
