@use "@/shared/styles/_breakpoints.scss" as *;

.wrapper {
  display: flex;
  min-height: 100vh;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  @media only screen and (max-width: $breakpoint-md) {
    padding: 0;
    display: block;
  }
}

.main {
  flex: 1;
  background-color: var(--background-color);
  overflow-y: auto;

  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  margin-right: var(--margin-base);

  @media only screen and (max-width: $breakpoint-md) {
    margin-right: 0;
    border-right: none;
  }
}

.sidebar {
  flex-shrink: 0;
  width: 230px;

  padding-left: var(--padding-base);

  background-color: var(--background-color);
}

.menu {
  margin-bottom: 70px;
}

.aside {
  flex-shrink: 0;
  width: 300px;

  @media only screen and (max-width: $breakpoint-md) {
    display: none;
  }
}
