.button {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-secondary);

  background-color: var(--primary-color);
  color: var(--white-color);

  border: none;
  border-radius: var(--padding-lg);
  padding: var(--padding-m) var(--padding-lg);

  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #1a91da;
  }
}
