button.button {
  width: 100%;
  font-family: var(--font-roboto);
  border: 1px solid var(--neutral-border);
}

.buttonContent {
  display: flex;
  justify-content: center;
  gap: var(--margin-sm);
  align-items: center;
}
