.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--margin-base);
}

.button {
  width: 100%;
  max-width: 400px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);

  padding: var(--padding-m) var(--padding-base);
  border-radius: var(--padding-md);
  border: 1px solid var(--neutral-border);

  text-align: center;
}
