.search {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
}

.input {
  border: none;
  background: transparent;
  outline: none;
  padding: 0 10px;
  flex-grow: 1;
  font-size: 16px;
}
