/* Light Theme Colors */
$light-background: #ffffff;
$light-background-neutral: #f7f9f9;
$light-text-default: #000000;
$light-text-neutral: #00000099;
$light-neutral-border: #00000033;
$light-input: #eff3f4;
$light-border: #e1e8ed;
$light-search-placeholder: #5c6c79;
$light-disabled: #b3b8bb;
$light-icon-neutral: #536471;
$light-placeholder: #bbbbbb;
$light-placeholder: #f0f0f0;
$light-primary: #1da1f2;
$light-primary-darker: #1a91da;
$light-secondary: #000000;
$light-error: #ef1c5c;
$light-icon: #000000;
$light-like: #ef1c5c;

/* Dark Theme Colors */
$dark-background: #181818;
$dark-background-neutral: #121212;
$dark-text-default: #ffffff;
$dark-text-neutral: #ffffff99;
$dark-neutral-border: #ffffff33;
$dark-input: #2a2a2a;
$dark-border: #eff3f4;
$dark-search-placeholder: #a3b5bc;
$dark-disabled: #b3b8bb;
$dark-icon-neutral: #a3b5bc;
$dark-placeholder: #888888;
$dark-primary: #1da1f2;
$dark-primary-darker: #1a91da;
$dark-secondary: #ffffff;
$dark-error: #ef1c5c;
$dark-icon: #ffffff;
$dark-like: #ef1c5c;
