@use "./_colors" as *;

:root {
  /* Font variables */
  --font-primary: "Roboto";
  --font-secondary: "Roboto Serif";
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-m: 0.9375rem; /* 15px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.25rem; /* 20px */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Theme Widths */
  --width-sidebar: 250px;
  --width-icon-xxs: 0.5rem;
  --width-icon-xs: 1rem;
  --width-icon-sm: 1.5rem;
  --width-icon-base: 2rem;
  --width-icon-md: 2.5rem;
  --width-icon-xl: 4rem;

  /* Theme Paddings */
  --padding-xs: 0.25rem; /* 4px */
  --padding-sm: 0.5rem; /* 8px */
  --padding-m: 0.75rem; /* 12px */
  --padding-base: 1rem; /* 16px */
  --padding-md: 1.25rem;
  --padding-xl: 1.5rem;
  --padding-xxl: 2rem;
  --padding-lg: 3rem;
  --padding-large: 4rem;

  /* Theme Margins */
  --margin-sm: 0.5rem;
  --margin-base: 1rem;
  --margin-m: 1.5rem;
  --margin-md: 2rem;
  --margin-xl: 4rem;
  --margin-xxl: 6rem;
  --margin-lg: 9rem;
}

html[data-theme="light"] {
  --background-color: #{$light-background};
  --background-neutral: #{$light-background-neutral};
  --text-default: #{$light-text-default};
  --text-neutral: #{$light-text-neutral};
  --neutral-border: #{$light-neutral-border};
  --input-color: #{$light-input};
  --search-placeholder: #{$light-search-placeholder};
  --icon-neutral: #{$light-icon-neutral};
  --placeholder: #{$light-placeholder};
  --primary-color: #{$light-primary};
  --secondary-color: #{$light-secondary};
  --error-color: #{$light-error};
  --icon-color: #{$light-icon};
  --like-color: #{$light-like};
}

html[data-theme="dark"] {
  --background-color: #{$dark-background};
  --background-neutral: #{$dark-background-neutral};
  --text-default: #{$dark-text-default};
  --text-neutral: #{$dark-text-neutral};
  --neutral-border: #{$dark-neutral-border};
  --input-color: #{$dark-input};
  --search-placeholder: #{$dark-search-placeholder};
  --icon-neutral: #{$dark-icon-neutral};
  --placeholder: #{$dark-placeholder};
  --primary-color: #{$dark-primary};
  --secondary-color: #{$dark-secondary};
  --error-color: #{$dark-error};
  --icon-color: #{$dark-icon};
  --like-color: #{$dark-like};
}
