.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--margin-sm);

  margin: var(--margin-sm) 0;
}

.user {
  display: flex;
  align-items: center;
  gap: var(--margin-sm);
}
